*.py[cod]
.sconsign.dblite

# Default Build Directory
build/
__pycache__/
# Eclipse Project Files
.cproject
.project
.pydevproject

# Vim Swap Files
*.swp
*~

# Misc
*.bak
*.cvsignore
/[Ss][Ii]/
dependencies.lock
*.spec